.Dash {
    width: 100%;
    height: 100vh;
    display: flex;
    // Side NavBar //
    .Dash_nav {
        flex: .20;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-right: 1px solid #eee;
        .nav_brand {
            margin-top: 30px;
            display: flex;
            padding: 30px 0;
            img {
                width: 30px;
                height: 30px;
                margin: 0 10px 0 0;
                object-fit: cover;
            }
            h3 {
                transform: translateY(3px);
                color: var(--secondary);
                font-size: 20px;
                span {
                    color: var(--primary);
                }
            }
        }
        .nav_menu {
            width: 100%;
            margin-top: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            a {
                width: 90%;
                text-decoration: none;
                color: var(--secondary);
                //border: 1px solid red;
                text-align: left;
                font-size: 16px;
                padding: 18px 30px;
                margin-top: 30px;
                border-radius: 10px;
                transition: all .3s ease-in-out;
                position: relative;
                i {
                    font-size: 20px;
                    padding: 0 20px 0 0;
                }
                &:hover {
                    background: var(--grey-background);
                }
                &.active {
                    background: var(--grey-background);
                    &:before {
                        content: "";
                        position: absolute;
                        width: 5px;
                        height: 100%;
                        background: var(--primary);
                        top: 0;
                        left: -20px;
                        border-radius: 0 10px 10px 0;
                    }
                }
            }
        }
    }
    .Dash_content {
        flex: .55;
        //background: blue;
        overflow-y: auto;
        .content_search {
            display: flex;
            //border: 1px solid red;
            width: 100%;
            margin-top: 30px;
            padding: 0 30px;
            justify-content: space-between;
            position: relative;
            input {
                width: 79%;
                padding: 15px 60px;
                outline: 0;
                border: 1px solid rgba(0, 0, 0, .2);
                border-radius: 10px;
            }
            .search {
                position: absolute;
                top: 18px;
                left: 45px;
                opacity: .5;
            }
            button {
                padding: 0 30px;
                border: 0;
                outline: 0;
                background: var(--primary);
                color: #fff;
                border-radius: 10px;
                i {
                    padding: 0 10px 0 0;
                }
            }
        }
        .b_file {
            display: flex;
            justify-content: space-between;
            padding: 0 30px;
            margin-top: 60px;
            a {
                text-decoration: none;
                color: var(--primary);
            }
            h4 {
                opacity: .2;
            }
        }
        .file {
            width: 100%;
            height: 60px;
            margin-top: 20px;
            display: flex;
            padding: 0 30px;
            flex-direction: row;
            justify-content: space-between;
            .file_item {
                border-radius: 5px;
                width: 200px;
                height: inherit;
                background: var(--grey-background);
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all .5s ease-in-out;
                border: 1px solid transparent;
                &:hover {
                    border: 1px solid var(--primary);
                    transform: scale(1.05);
                }
                i {
                    padding: 0 10px 0 0;
                }
                span {
                    padding: 0 5px;
                }
            }
        }
        .offre {
            margin-top: 80px;
            padding: 0 30px;
            h4 {
                opacity: .2;
            }
        }
        .offre_resume {
            padding: 0 30px;
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            .card {
                width: 48%;
                height: 300px;
                border: 1px solid #eee;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                flex-direction: column;
                transition: all .5s ease-in-out;
                &:hover {
                    border: 1px solid var(--primary);
                    transform: scale(1.01);
                }
                span {
                    position: absolute;
                    top: 0;
                    right: 0;
                    background: var(--primary);
                    color: #fff;
                    padding: 15px 25px;
                    border-radius: 0 0 0 40px;
                }
                h5 {
                    position: absolute;
                    top: 10px;
                    left: 20px;
                }
                h1 {
                    font-size: 40px;
                }
                button {
                    position: absolute;
                    bottom: 10px;
                    left: 10px;
                    padding: 10px 20px;
                    border: 1px solid var(--primary);
                    background: transparent;
                    color: var(--primary);
                    transition: all .5s ease;
                    border-radius: 10px;
                    &:hover {
                        background: var(--primary);
                        color: #fff;
                    }
                }
            }
        }
        .recent_file {
            padding: 25px 30px;
            display: flex;
            justify-content: space-between;
            h4 {
                opacity: .2;
            }
            a {
                text-decoration: none;
                color: var(--primary);
            }
        }
    }
    .Dash_resume {
        flex: .25;
        border-left: 1px solid #eee;
        display: flex;
        //justify-content: center;
        align-items: center;
        flex-direction: column;
        .resume_head {
            width: 100%;
            height: 50px;
            //border: 1px solid red;
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 30px;
            button {
                font-size: 22px;
                color: var(--secondary);
                border: 0;
                outline: 0;
                background: transparent;
            }
        }
        .resume_bars {
            width: 100%;
            min-height: 100px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin-top: 50px;
        }
        .file_state {
            width: 90%;
            height: 70px;
            margin-top: 40px;
            background: var(--grey-background);
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
            .state_file {
                position: relative;
                i {
                    font-size: 20px;
                }
                span {
                    position: absolute;
                    left: 40px;
                    top: -10px;
                }
                p {
                    position: absolute;
                    font-family: 'GilRoy Light';
                    font-size: 14px;
                    width: 100px;
                    left: 40px;
                    top: 10px;
                    opacity: .4;
                }
            }
            .file_capacity {
                color: var(--primary);
            }
        }
        .drop_file_are {
            width: 90%;
            height: 200px;
            //border: 1px solid red;
            margin-top: 30px;
        }
    }
}